.box {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 300px;
}

.box > header {
  padding: 10px 0 30px;
  text-align: center;
}

.box > header h1 {
  font-size: 20px;
  margin-bottom: 6px;
}

.box > header p {
  margin-top: 18px;
  font-size: 16px;
  font-family: 华文仿宋;
}

.box .article-list {
  margin: 0 12px;
}

.box .article-list a {
  display: flex;
  height: 35px;

  font-size: 15px;
  color: #0366d6;
  line-height: 35px;
  border-bottom: 1px dashed #ccc;
}

.box .article-list a .title {
  flex: 1;
  
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.box .article-list a > time {
  font-family: serif;
  color: #6a737d;
}
